@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* hero style */

.header{
    width: auto;
    height: 600px;
    background-image: url('../assets/Hero-bg.png');
}
.hero-image{
    width: 240px;
}

.hero-content{
    text-align: center;
    padding-top: 50px;
}
.hero-items{
    padding-left: 221px;
    padding-right: 221px;
}

.title1{
    font-size: 48px;
    color: rgb(13, 19, 33);
    margin-top: -10px;
}
.hero-description{
    margin-top: -30px;
}
.hero-btn{
    font-size: medium;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
}

/* why-web */
/* .why-web{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.two-vox{
    display: flex;
    justify-content: center;
    
}
.why-title{
    font-size: 24px;
    margin-top: 20px;

}
.why-img{
    width: 274px;
} */

.why-dev{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 296px;
    padding-right: 296px;
    text-align: center;
}

.why-content{
    display: flex;
    /* padding-left: 296px;
    padding-right: 296px; */
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.why-description{
    padding-top: 25px;
    padding-bottom: 25px;
}

.why-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.wwd{
    background-color: rgba(13, 19, 33, 0.02);
}

.my-i{
    text-align: center;
    padding-top: 50px;
    padding-left: 296px;
    padding-right: 296px;
    padding-bottom: 50px;
}
